[submodule "go-jsonnet"]
	path = thirdparty/go-jsonnet
	url = https://github.com/google/go-jsonnet.git
[submodule "thirdparty/jsonnet"]
	path = thirdparty/jsonnet
	url = https://github.com/google/jsonnet.git
[submodule "thirdparty/uutf"]
	path = thirdparty/uutf
	url = https://github.com/dbuenzli/uutf.git
