[submodule "go-jsonnet"]
	path = thirdparty/go-jsonnet
	url = https://github.com/google/go-jsonnet.git
[submodule "thirdparty/jsonnet"]
	path = thirdparty/jsonnet
	url = https://github.com/google/jsonnet.git
[submodule "thirdparty/uutf"]
	path = thirdparty/uutf
	url = https://github.com/dbuenzli/uutf.git
[submodule "thirdparty/ocaml-dtoa"]
	path = thirdparty/ocaml-dtoa
	url = https://github.com/flow/ocaml-dtoa.git
[submodule "thirdparty/ocaml-rope"]
	path = thirdparty/ocaml-rope
	url = https://github.com/Chris00/ocaml-rope.git
[submodule "thirdparty/yojson"]
	path = thirdparty/yojson
	url = https://github.com/ocaml-community/yojson.git
[submodule "thirdparty/ocaml-yaml"]
	path = thirdparty/ocaml-yaml
	url = https://github.com/avsm/ocaml-yaml.git
